<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Project1</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project1</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.tech.blog.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tech.blog.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error_4o4.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tech.blog.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profilupdate</display-name>
    <servlet-name>Profilupdate</servlet-name>
    <servlet-class>com.tech.blog.servlet.Profilupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profilupdate</servlet-name>
    <url-pattern>/Profilupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostShare</display-name>
    <servlet-name>PostShare</servlet-name>
    <servlet-class>com.tech.blog.servlet.PostShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostShare</servlet-name>
    <url-pattern>/PostShare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.tech.blog.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopic</display-name>
    <servlet-name>AddTopic</servlet-name>
    <servlet-class>com.tech.blog.servlet.AddTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopic</servlet-name>
    <url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTopic</display-name>
    <servlet-name>DeleteTopic</servlet-name>
    <servlet-class>com.tech.blog.servlet.DeleteTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTopic</servlet-name>
    <url-pattern>/DeleteTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdmin</display-name>
    <servlet-name>UpdateAdmin</servlet-name>
    <servlet-class>com.tech.blog.servlet.UpdateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdmin</servlet-name>
    <url-pattern>/UpdateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>like</display-name>
    <servlet-name>like</servlet-name>
    <servlet-class>com.tech.blog.servlet.like</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like</servlet-name>
    <url-pattern>/like</url-pattern>
  </servlet-mapping>
</web-app>